@page
@model StaffApplication.Pages.Employees.StaffModel
@{
}


<h4>Add New Staff</h4>
<div class="col-sm-12">
    <div>
        <label>First Name</label>
        <input type="text" name="firstName" required="required"/>
    </div>
    <div>
        <label>last Name</label>
        <input type="text" name="lastName" required="required" />
    </div>
    <div>
        <label>Department</label>
        <input type="text" name="department" required="required" />
    </div>
    <div>
        <label>Email</label>
        <input type="email" name="email" required="required" />
    </div>
    <div>
        <label>Start Date</label>
        <input type="datetime" name="startDate" required="required" />
    </div>
</div>